@use "base";

@use "shared/error";
@use "shared/buttons";
@use "shared/modal";
@use "shared/forms";
@use "shared/loading";

@use "admin/navbar" as admin-navbar;
@use "admin/login";
@use "admin/logout";
@use "admin/layout" as admin-layout;
@use "admin/posts";
@use "admin/users";
@use "admin/profile";

@use "blog/components/navbar" as blog-navbar;
@use "blog/components/carousel" as blog-carousel;
@use "blog/components/post-card" as blog-post-card;
@use "blog/components/sidebar" as blog-sidebar;
@use "blog/layout" as blog-layout;
@use "blog/home" as blog-home;
@use "blog/post" as blog-post;
@use "blog/tag" as blog-tag;
@use "blog/category" as blog-category;
@use "blog/profile" as blog-author;